<a href="https://colab.research.google.com/github/fariz475/AppliedDataAnalysis/blob/master/latihan_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
dataA = 10
dataB = 15

print(dataA * dataB)

150

In [ ]:
data_integer = 11
print("data : ", data_integer)
print("- bertipe : ", type(data_integer))

data :  11
- bertipe :  <class 'int'>

In [ ]:
data_bool = False
print("data : ", data_bool)
print("- bertipe : ", type(data_bool))

data :  False
- bertipe :  <class 'bool'>

In [ ]:
data_float = 12.1
print("data : ", data_float)
print("- bertipe : ", type(data_float))

data :  12.1
- bertipe :  <class 'float'>

In [3]:
#casting
print('integer')
data_int = 8
print("data = ", data_int), 'type : ', type(data_int)

integer
data =  8

(None, 'type : ', int)

In [5]:
data_flo = float(data_int)
data_string = str(data_int)
data_bool = bool(data_int)

print("data = ", data_int, "Type", type(data_flo))
print("data = ", data_string, "Type", type(data_string))

data =  8 Type <class 'float'>
data =  8 Type <class 'str'>

In [6]:
data_bool1 = True
data_bool2 = False
data_bool3 = True

print(data_bool1)
print(data_bool2)
print(data_bool3)

True
False
True

In [10]:
#kondisi if

nama = input("Masukkan Nama : ")

if nama == "bono":
  print(" Selamat datang bono")

else:
  print("Kamu bukan bono")

Masukkan Nama : bono
 Selamat datang bono